<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/69df8dda-9645-43a2-8eb7-7b4a946cf1dc/resourceGroups/monument-resources/providers/Microsoft.ApiManagement/service/MonumentServiceAPI/apis/MonumentService</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/69df8dda-9645-43a2-8eb7-7b4a946cf1dc/resourcegroups/monument-resources/providers/Microsoft.Web/sites/MonumentService</ResourceId>
    <ResourceGroup>monument-resources</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://monumentservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e93dd650-e47d-46b3-b27b-81c1a76f62d3</ProjectGuid>
    <PublishUrl>https://monumentservice.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MonumentService</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>