<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/69df8dda-9645-43a2-8eb7-7b4a946cf1dc/resourcegroups/monument-service-resources/providers/Microsoft.ContainerRegistry/registries/MonumentService20240322122551</ContainerResourceId>
    <ContainerResourceName>MonumentService20240322122551</ContainerResourceName>
    <Subscription>Suscripción de Visual Studio Enterprise</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>monumentservice20240322122551.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>monumentservice</ContainerName>
    <EnvironmentName>MonumentService-env-20240322122105</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://monumentservice-app-202403221221.nicewave-2d3a8178.westeurope.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/69df8dda-9645-43a2-8eb7-7b4a946cf1dc/resourceGroups/monument-service-resources/providers/Microsoft.App/containerApps/monumentservice-app-202403221221</ResourceId>
    <ResourceGroup>monument-service-resources</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>